<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <h1><a href="/" class="logo-link">Community Portal</a></h1>
            </div>
            <div class="nav-search">
                <div class="search-container">
                    <input type="text" id="header-search" class="search-input" placeholder="Search events..." autocomplete="off">
                    <div class="search-results-dropdown" id="search-results-dropdown">
                        <!-- Search results will be populated here -->
                    </div>
                </div>
            </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/areas" class="nav-link">Community Areas</a>
                </li>
                <li class="nav-item">
                    <a href="/events" class="nav-link">Events</a>
                </li>
                <li class="nav-item">
                    <a href="/faq" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>